@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
  height: 100%;
  width: 100%;
  color: #33E0FF;
  background-color: #1B1B1B;
}

h1{
  font-family: 'Silkscreen', sans-serif;
}

h2{
  font-family: 'Silkscreen', sans-serif;
}

p{
  font-family: 'Silkscreen', sans-serif;
}
