@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&display=swap');

html, body {
  height: 100%;
  width: 100%;
  color: #836953;
  background-color: #efdecd;
}

h1{
  font-family: 'Rubik', sans-serif;
  font-size: 150%;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
}

p{
  font-family: 'Rubik', sans-serif;
}
